<!doctype html>
<html>
<head>
    <title>This is a test page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />

    {% for item in css %}
        <link rel="stylesheet" href="/static/gen/{{item}}" />
    {% endfor %}
</head>
<body>
    <div id="container"></div>

    {% for item in js %}
        <script src="/static/gen/{{item}}" type="text/javascript"></script>
    {% endfor %}
    <script src="https://code.jquery.com/jquery-2.2.0.js" type="text/javascript"></script>
</body>
</html>
